<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>

        a{
            font-size: 3rem;
        }

    </style>


</head>
<body>
    <h1>UserId : <%=user.id%> </h1>
    <h1>Username : <%=user.Firstname%> </h1>
</body>
</html>