<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/register.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0" />
</head>
<body>
    <div id="content">

        <div id="form_con">

            <div id="photo">
                    <img alt="shoe image" src="https://images.unsplash.com/photo-1603808033192-082d6919d3e1?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fHNob2VzfGVufDB8fDB8fHww">
            </div>

            <form action="/register" method="post">
                <div id="details">

                        <div>
                            <h1>Register</h1>
                        </div>

                        <div id="names">
                            <div><input type="text" placeholder="First Name" name="Firstname"></div>
                            <div><input type="text" placeholder="Last Name" name="Lastname"></div>
                        </div>
                
                        <div id="pg">
                            <div><input type="number" placeholder="Phone Number" name="Phonenumber"></div>
                            <div id="rads">
                                <div id="last"><input id="rad" type="radio" name="Gender" value="Male"><label>Male</label></div>
                                <div id="last"><input id="rad" type="radio" name="Gender" value="Female"><label>Female</label></div>
                            </div>
                        </div>
                    
                        <div>
                            <input id="emails" type="email" placeholder="Email Address" name="Email">
                        </div>

                        <div>
                            <textarea id="addr" cols="30" rows="10" placeholder="Address" name="Address"></textarea>
                        </div>

                        <div id="pass">
                            <div><input type="password" placeholder="Password" name="Password"></div>
                            <div><input type="password" placeholder="Confirm Password"></div>
                        </div>

                        <div id="chk_con">
                            <input id="chks" type="checkbox"><a href="#" target="_blank">Terms and Conditions</a>
                        </div>

                        <div>
                            <button id="btn" type="submit">Register</button>
                        </div>

                        <div>
                            <div>Already Have an Account?<a href="http://localhost:3000/login"> Sign in </a></div>
                        </div>
                        
                </div>
            </form>
            

        </div>

    </div>
    
</body>
</html>