@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0 0;
    padding: 0 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

:root{
    --border: #aaaaaa;
    --white: #ffffff;
    --blk: #000000;
}



header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 96%;
    padding: 1% 2%;
    height: 100px;
    margin-bottom: 15px;
}


#nav{
    display: flex;
    justify-content: space-evenly;
    width: 600px;
}


footer{
    background-color: var(--blk);
    width: 100%;
    height: 300px;
}

#sizes{
    font-size: 2rem;
    font-weight: 600;
}

label
{
    font-size: 1.3rem;
    font-weight: 500;
}
a:visited{
    color: #000000;
}
a{
    text-decoration: none;
}

h1{
    font-size: 2rem;
    font-weight: 600;
}

h2{
    font-size: 1.5rem;
    font-weight: 400;
    margin: 10px 5px;
}

#navicons{
    font-weight: 600;
}

#main{
    width: 94%;
    min-height: 1000px;
    padding: 2% 3%;
}

#text{
    width: 100%;
    height: 5%;
}

#items
{
    width: 100%;
    height: 95%;
}

#photo{
    height: 100%;
    width: 20%;
}

img{
    height: 100%;
    width: 100%;
}

#shoe{
    width: 98%;
    background-color: white;
    display: flex;
    height: 300px;
    margin: 2% 1%;
    border: 1px solid black;
}

#dets{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

#moredets{
    padding: 2% 3%;
    display: flex;
    flex-direction: column;
    height: 86%;
}

#sym:hover{
    cursor: pointer;
}

#sym{
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 0px;
    border: 0px;
    margin: 0px;
}

#cls{
    font-size: 3rem;
}

button:hover{
    cursor: pointer;
    width: 225px;
}

button{
    background-color: black;
    color: white;
    height: 50px;
    width: 200px;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 15px;
    margin-top: 15px;
}
